<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <title>FACEMESH2.0</title>
    <button onclick="nextbattle('<%= war[0]._id%>')"><%= war[0].name%></button>
    <button onclick="nextbattle('<%= war[1]._id%>')"><%= war[1].name%></button>
</html>

<script>
function redirect(e){
  window.location.href = ('http://localhost:3000/')
}
function nextbattle(id) {
  axios.patch('http://localhost:3000/winner/'+id).then(()=>{
    redirect()
  })
}
</script>